<div class="w-full h-20  bg-[#FAFAFA] absolute bottom-0 left-0   flex pl-14  pr-14 items-center" style="border-top: 1px solid rgb(173, 172, 172);">
  <div class="w-2/12"></div>
  <div class="w-6/12 flex "><p>&copy; 2024 <span class="test-slate-600 font-semibold">ECS LTD </span> All Right Reserved</p></div>
  <div class="w-4/12 flex justify-end ">
    <p class="text-slate-700 "> <i class="fa-brands fa-facebook-f text-base mr-6  cursor-pointer "></i> <i class="fa-brands fa-instagram mr-6  cursor-pointer"></i> <i class="fa-brands fa-x-twitter mr-6  cursor-pointer"></i><i class="fa-brands fa-youtube mr-6  cursor-pointer"></i><i class="fa-brands fa-linkedin-in mr-6  cursor-pointer"></i> <i class="fa-brands fa-pinterest mr-6  cursor-pointer"></i> <i class="fa-brands fa-github cursor-pointer"></i></p>
  </div>
</div>