<app-header></app-header>
<div class=" w-full lg:h-[120vh] max-h-fit flex lg:flex-row flex-col xl:gap-x-0 gap-x-10  xl:justify-between lg:px-20 px-5 lg:py-24   py-12 ">
  <div class="lg:w-7/12 w-full  h-full">
<h1 class="text-5xl text-slate-700 mb-14 font-bold">Get <span class="text-slate-500">in Touch</span></h1>
<div>
  <p>You can contact us any way that is convenient for you. We are available Monday to Sunday via phone or email. You can also use a quick contact form below. We would be happy to answer your questions.</p>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <!-- Form fields -->
    <div class="w-full h-full flex flex-col gap-5">
      <!-- First name -->
      <div class="w-full flex justify-between gap-10">
        <div class="w-6/12">
          <label for="first-name" class="block text-sm font-medium leading-6 text-slate-500">First name</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <input class="py-1.5 pl-4 pr-20 sm:text-sm sm:leading-6" nz-input placeholder="First name" formControlName="firstName" type="text" />
          </div>
          <div *ngIf="contactForm.get('firstName')?.errors && (contactForm.get('firstName')?.dirty || contactForm.get('firstName')?.touched)" class="text-red-600 text-sm mt-1">
            <div *ngIf="contactForm.get('firstName')?.errors?.['required']">First name is required</div>
          </div>
        </div>
        <!-- Last name -->
        <div class="w-6/12">
          <label for="last-name" class="block text-sm font-medium leading-6 text-slate-500">Last name</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <input class="py-1.5 pl-4 pr-20 sm:text-sm sm:leading-6" nz-input placeholder="Last name" formControlName="lastName" type="text" />
          </div>
          <div *ngIf="contactForm.get('lastName')?.errors && (contactForm.get('lastName')?.dirty || contactForm.get('lastName')?.touched)" class="text-red-600 text-sm mt-1">
            <div *ngIf="contactForm.get('lastName')?.errors?.['required']">Last name is required</div>
          </div>
        </div>
      </div>
      <!-- Email -->
      <div class="w-full flex justify-between gap-10">
        <div class="w-6/12">
          <label for="email" class="block text-sm font-medium leading-6 text-slate-500">E-mail</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <input class="py-1.5 pl-4 pr-20 sm:text-sm sm:leading-6" nz-input placeholder="Enter email address" formControlName="email" type="email" />
          </div>
          <div *ngIf="contactForm.get('email')?.errors && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)" class="text-red-600 text-sm mt-1">
            <div *ngIf="contactForm.get('email')?.errors?.['required']">Email is required</div>
            <div *ngIf="contactForm.get('email')?.errors?.['email']">Invalid email format</div>
          </div>
        </div>
        <!-- Phone Number -->
        <div class="w-6/12">
          <label for="phone-number" class="block text-sm font-medium leading-6 text-slate-500">Phone Number</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <input class="py-1.5 pl-4 pr-20 sm:text-sm sm:leading-6" nz-input placeholder="Enter phone number" formControlName="phoneNumber" type="tel" />
          </div>
          <div *ngIf="contactForm.get('phoneNumber')?.errors && (contactForm.get('phoneNumber')?.dirty || contactForm.get('phoneNumber')?.touched)" class="text-red-600 text-sm mt-1">
            <div *ngIf="contactForm.get('phoneNumber')?.errors?.['required']">Phone number is required</div>
            <div *ngIf="contactForm.get('phoneNumber')?.errors?.['pattern']">Invalid phone number format</div>
          </div>
        </div>
      </div>
      <!-- Message -->
      <div class="w-full">
        <label for="message" class="block text-sm font-medium leading-6 text-slate-500">Message</label>
        <div class="relative mt-2 rounded-md shadow-sm">
          <textarea class="py-1.5 pl-4 pr-20 sm:text-sm sm:leading-6" rows="4" nz-input placeholder="Enter details here..." formControlName="message"></textarea>
        </div>
        <div *ngIf="contactForm.get('message')?.errors && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)" class="text-red-600 text-sm mt-1">
          <div *ngIf="contactForm.get('message')?.errors?.['required']">Message is required</div>
        </div>
      </div>
    </div>
    <!-- Submit button -->
    <button class="mt-4 rounded-md bg-[#5b718a] hover:bg-[#354454]" nz-button nzType="primary" type="submit">SEND</button>
    </form>
  
  
</div>
  </div>
  <div class="xl:w-3/12 lg:w-4/12 w-full    lg:gap-0 flex lg:flex-col flex-row lg:flex-nowrap flex-wrap   h-5/6 px-5  ">
<div class="lg:mb-12 pr-5 lg:pr-5 mt-10 lg:p-0 lg:mt-0 w-1/2 lg:w-full">
  <span class=" text-xl text-slate-700">Phones</span>
<p class="w-full bg-slate-300 h-[.5px] mt-2 mb-7"></p>
<p class="text-slate-500 "><i class="fa-solid fa-phone text-base mr-2 text-slate-700"></i>03 074 206 006</p>
</div>
<div class="lg:mb-12  mt-10 lg:p-0 lg:mt-0 w-1/2 lg:w-full">
  <span class=" text-xl text-slate-700">E-mail</span>
<p class="w-full bg-slate-300 h-[.5px] mt-2 mb-7"></p>
<p class="text-slate-500 "><i class="fa-regular fa-envelope text-base mr-2 text-slate-700 mt-1"></i><a class="text-slate-500 hover:underline hover:text-slate-600" href="m.tnveercs@gmail.com">info@ecs.pk</a></p>
</div>
<div class="lg:mb-12 pr-5 lg:pr-5 mt-5 lg:p-0 lg:mt-0 w-1/2 lg:w-full">
  <span class=" text-xl text-slate-700">Address</span>
<p class="w-full bg-slate-300 h-[.5px] mt-2 mb-7"></p>
<p class="text-slate-500 "><i class="fa-solid fa-location-dot text-base mr-2 text-slate-700"></i><a class="text-slate-500 hover:underline hover:text-slate-600" href="m.tnveercs@gmail.com">Chak # 202 R.B Bahi walla Adeel Town street # 4 Faisalabad</a></p>
</div>
<div class="lg:mb-12  mt-5 lg:p-0 lg:mt-0 w-1/2 lg:w-full">
  <span class=" text-xl text-slate-700">Opening Hours</span>
<p class="w-full bg-slate-300 h-[.5px] mt-2 mb-7"></p>
<p class="text-slate-500 "><i class="fa-solid fa-business-time text-base mr-2 text-slate-700"></i><a class="text-slate-500 " href="m.tnveercs@gmail.com">Mon–Sun 9:00am–6:00pm</a></p>
</div>
<div class="lg:mb-12 mb-10  w-1/2 lg:w-full">
  <span class=" text-xl text-slate-700">Socials</span>
<p class="w-full bg-slate-300 h-[.5px] mt-2 mb-7"></p>
<p class="text-slate-700 "> <i class="fa-brands fa-facebook-f text-base mr-6  cursor-pointer "></i> <i class="fa-brands fa-instagram mr-6  cursor-pointer"></i> <i class="fa-brands fa-x-twitter mr-6  cursor-pointer"></i><i class="fa-brands fa-youtube mr-6  cursor-pointer"></i><i class="fa-brands fa-linkedin-in mr-6  cursor-pointer"></i> <i class="fa-brands fa-pinterest mr-6  cursor-pointer"></i> <i class="fa-brands fa-github cursor-pointer"></i></p>
</div>
  </div>
</div>
<app-footer></app-footer>