<div class=" w-full  h-fit bg-[#FAFAFA]  overflow-x-hidden  pb-20">
    <div class="  md:ml-40 lg:ml-80 ml-28     mt-24   flex flex-col ">
        <span class="font-semibold text-4xl">Hi,{{adminName}}</span>
        <span class="text-2xl">Welcome to Admin Dashboard </span>
    </div>
    <div class="w-full h-fit flex flex-col justify-center mt-10  gap-5 ml-10 overflow-hidden ">
       
        <div class="w-full h-full py-2 flex  justify-center gap-2">
            <div class="bg-white w-2/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2  pt-2 pb-1 cursor-pointer"  routerLink="/posted-jobs" >
                <div class="flex flex-col justify-between gap-7 ">
                    <h3 class="text-slate-400">Posted Jobs</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold">{{commonservice.bookedJob}}</h3>

                </div>

                <div class="flex flex-col h-full justify-between  gap-7">
                    <div class="w-full text-right ">
                        <i class="fa-solid fa-arrow-up-right-from-square   rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] text-base "
                            aria-hidden="true"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-truck md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  "
                            aria-hidden="true"></i>
                    </div>

                </div>
            </div>
            <div class="bg-white w-2/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2  pt-2 pb-1 cursor-pointer" routerLink="/accepted-jobs">
                <div class="flex flex-col justify-between gap-7 ">
                    <h3 class="text-slate-400">Accepted Jobs</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold">{{commonservice.AccepetedJob ||0}}</h3>

                </div>

                <div class="flex flex-col h-full justify-between  gap-7">
                    <div class="w-full text-right ">
                        <i class="fa-solid fa-arrow-up-right-from-square   rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] text-base "
                            aria-hidden="true"></i>
                    </div>
                    <div>
                        <i class="fa fa-shipping-fast  md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  "
                            aria-hidden="true"></i>
                    </div>

                </div>
            </div>

            <div class="bg-white w-2/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2  pt-2 pb-1 cursor-pointer " routerLink="/inProcessJobs">
                <div class="flex flex-col justify-between gap-7 ">
                    <h3 class="text-slate-400">In Process Jobs</h3>
              <h3 class="text-slate-600 text-4xl font-semibold">
                {{commonservice.proc ||0}}</h3>
                </div>

                <div class="flex flex-col h-full justify-between  gap-7">
                    <div class="w-full text-right ">
                        <i class="fa-solid fa-arrow-up-right-from-square   rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] text-base "
                            aria-hidden="true"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-bars-progress md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  "
                            aria-hidden="true"></i>
                    </div>

                </div>
            </div>
            <div class="bg-white w-2/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 pt-2 pb-1 cursor-pointer" routerLink="/deliveed-jobs">
                <div class="flex flex-col justify-between gap-7">
                    <h3 class="text-slate-400">Delivered Jobs</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold"> {{commonservice.del || 0}}</h3>
                </div>

                <div class="flex flex-col h-full justify-between  gap-7">
                    <div class="w-full text-right ">
                        <i class="fa-solid fa-arrow-up-right-from-square   rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] text-base "
                            aria-hidden="true"></i>
                    </div>
                    <div>
                        <i class="fa fa-check-square-o md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  "
                            aria-hidden="true"></i>
                    </div>

                </div>
            </div>


        </div>
        <div class="w-full  flex  justify-center gap-5">


            <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2  pt-2 pb-1 cursor-pointer" routerLink="/manage-user">
                <div class="flex flex-col justify-between gap-7 ">
                    <h3 class="text-slate-400">Registerd Users</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold">{{commonservice.RegisteredUser ||0}} </h3>
                </div>


                <div class="flex flex-col h-full justify-between  gap-7">
                    <div class="w-full text-right ">
                        <i class="fa-solid fa-arrow-up-right-from-square   rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] text-base "
                            aria-hidden="true"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-users-line md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  "
                            aria-hidden="true"></i>
                    </div>


                </div>
            </div>
            <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2  pt-2 pb-1 cursor-pointer" routerLink="/manage-Agency">
                <div class="flex flex-col justify-between gap-7 ">
                    <h3 class="text-slate-400">Registerd Cargo Agencies</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold"> {{commonservice.RegisteredAgency || 0}}</h3>
                </div>

                <div class="flex flex-col h-full justify-between  gap-7">
                    <div class="w-full text-right ">
                        <i class="fa-solid fa-arrow-up-right-from-square   rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] text-base "
                            aria-hidden="true"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-store md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  "
                            aria-hidden="true"></i>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="w-full flex ml-10 justify-center mt-10 ">
        <div class="w-8/12 "> <nz-tabset>
                <nz-tab nzTitle="User's Jobs">
                    <div class="w-full flex justify-end ">
                        <div class="w-4/12">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                <input type="text" [(ngModel)]="jobSearch" (keyup)="searchJobs()"
                                    (keydown)="searchJobs()" nz-input placeholder="Search Job By Reference Id" />
                            </nz-input-group>
                            <ng-template>
                                <button nz-button nzSearch><span nz-icon nzType="search"></span></button>
                            </ng-template>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="primary" nzSearch><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                        </div>

                    </div>
                    <div *ngIf="commonservice.bookedJob">
                        <div class="w-full  flex justify-center mt-5  " *ngFor="let item of getPageDataTab1()">
                            <div class="w-full  shadow-md rounded-md bg-white  h-fit  pb-10 ">
                                <div class="w-full h-fit bg-white  pt-5 px-5 "
                                    style="border-bottom: 1px solid  rgb(196, 196, 196);">
                                    <h3> <i class="fa-solid fa-truck"></i> Booked Jobs</h3>
                                </div>
                                <div class="w-full h-fit   flex md:flex-row flex-col justify-between items-center pr-5">
                                    <div class="md:w-6/12 w-full h-full flex flex-col pl-10 pt-5 gap-1"> <span
                                            class="font-bold">{{item.SelectedVehicle}}</span>
                                        <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>
                                            {{item.pickupLocation}}
                                        </span>
                                        <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                                            {{item.dropoffLocation}}
                                        </span>
                                        <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
                                            Delivery Date: {{item.date}}
                                        </span>
                                        <span><i class="fa fa-money mr-1" aria-hidden="true"></i>

                                            Cash On Delivery
                                        </span>

                                        <span> <i class="fa-solid fa-id-card mr-1"></i>

                                            Refrance Id:{{item._id}}
                                        </span>
                                        <span> <i class="fa-solid fa-list-check mr-1"></i>

                                            Cargo Status:{{item.status}}
                                        </span>


                                    </div>
                                    <div
                                        class="md:w-6/12 w-full flex md:justify-end items-center md:ml-0 ml-20 mt-5 md:mt-0">
                                        <div
                                            class="flex flex-col md:w-28 w-20 h-14 md:h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
                                            <span class="text-slate-600">Rs. {{item.totalVechialPrice}}</span>
                                            <span class="text-slate-400">Job Price</span>
                                        </div>
                                    </div>
                                </div>
                                <div>


                                    <button [routerLink]="['/user-job-tracking', item._id]" nz-button nzSize="default"
                                        nzType="primary"
                                        class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "> Track
                                        Job
                                        <i class="fa fa-search ml-2" aria-hidden="true"></i>
                                    </button>
                                    <button nz-button nzType="primary"
                                        class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "
                                        (click)="showLarge1(item)">View All Details</button>

                                    <!-- <button   (click)="showDeleteConfirm(item.id)" nz-button nzSize="default" nzType="primary" class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "> CANCEL JOB <i class="fa fa-times text-white ml-2" aria-hidden="true"></i>
            </button> -->
                                </div>
                            </div>
                        </div>
                        <div *ngIf="searchResultsFound " class="w-full flex justify-end mt-10">
                            <nz-pagination [nzPageIndex]="pageIndexTab1" [nzTotal]="totalItemsTab1"
                                [nzPageSize]="pageSizeTab1" nzShowSizeChanger
                                (nzPageIndexChange)="handlePageIndexChangeTab1($event)"
                                (nzPageSizeChange)="handlePageSizeChangeTab1($event)">
                            </nz-pagination>
                        </div>

                    </div>
                    <div *ngIf="!searchResultsFound || !commonservice.bookedJob"
                        class="w-full  flex flex-col items-center justify-center  mt-10 ">

                        <div class="w-full h-60">

                            <div class="w-full  shadow-md rounded-md bg-white  h-full ">
                                <div class="w-full h-1/4 bg-white  pt-3 px-5 "
                                    style="border-bottom: 1px solid  rgb(196, 196, 196);">


                                </div>

                                <div
                                    class="w-full h-3/4 bg-[#FCFCFC]  flex justify-center flex-col gap-2 items-center pr-5">

                                    <h3 class="text-slate-600 text-2xl font-semibold">No record found</h3>
                                    <span class="text-5xl text-slate-500" nz-icon nzType="inbox"
                                        nzTheme="outline"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <nz-drawer [nzSize]="size" [nzVisible]="visible1" nzPlacement="right" [nzTitle]="title1"
                        (nzOnClose)="close1()">
                        <ng-container *nzDrawerContent>

                            <div class=" grid grid-cols-1 lg:grid-cols-2">
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Name</span>
                                    <span class="">{{ selectedCartItem?.fullName }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Phone Number</span>
                                    <span class="">{{ selectedCartItem?.phoneNumber }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Name</span>
                                    <span class="">{{ selectedCartItem?.receiverName }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Phone
                                        Number</span>
                                    <span class="">{{ selectedCartItem?.receiverPhoneNumber }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Address</span>
                                    <span class="">{{ selectedCartItem?.senderAddress }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Address</span>
                                    <span class="">{{ selectedCartItem?.receiverAddress }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Vehicle Type</span>
                                    <span class="">{{ selectedCartItem?.SelectedVehicle }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Goods Type</span>
                                    <span class="">{{ selectedCartItem?.selectedGoodsType }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">PickupLocation</span>
                                    <span class="">{{ selectedCartItem?.pickupLocation }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">DropoffLocation </span>
                                    <span class="">{{ selectedCartItem?.dropoffLocation }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Hellper</span>
                                    <span class="">{{ selectedCartItem?.selectedHelper }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Estimated Weight</span>
                                    <span class="">{{ selectedCartItem?.estimatedWeight }} TON</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Distance</span>
                                    <span class="">{{ selectedCartItem?.distance }}Km</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Cargo Details</span>
                                    <span class="">{{ selectedCartItem?.itemDetails }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Order Posted Date </span>
                                    <span class="">{{ selectedCartItem?.JobBookedDate }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Delivery Date </span>
                                    <span class="">{{ selectedCartItem?.date }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Order Pickup Time </span>
                                    <span class="">{{ selectedCartItem?.pickupTime }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Status</span>
                                    <span class="">{{ selectedCartItem?.status }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Total Vehicle Price</span>
                                    <span class="">Rs.{{ selectedCartItem?.totalVechialPrice }}</span>
                                </div>


                            </div>

                        </ng-container>
                    </nz-drawer>
                </nz-tab>
                <nz-tab nzTitle="Agency's Accepted Job">
                    <div class="w-full flex justify-end ">
                        <div class="w-4/12">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                <input type="text" [(ngModel)]="AcceptedjobSearch" (keyup)="searchAcceptJobs()"
                                    (keydown)="searchAcceptJobs()" nz-input placeholder="Search Job By Reference Id" />
                            </nz-input-group>
                            <ng-template>
                                <button nz-button nzSearch><span nz-icon nzType="search"></span></button>
                            </ng-template>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="primary" nzSearch><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                        </div>

                    </div>
                    <div *ngIf="commonservice.AccepetedJob">
                        <div class="w-full  flex  justify-center mt-5  " *ngFor="let item of getPageDataTab2()">
                            <div class="w-full  shadow-md rounded-md bg-white  h-fit  pb-10 ">
                                <div class="w-full h-fit bg-white  pt-5 px-5 "
                                    style="border-bottom: 1px solid  rgb(196, 196, 196);">
                                    <h3> <i class="fa fa-shipping-fast" aria-hidden="true"></i> Accepted
                                        Jobs</h3>
                                </div>
                                <div class="w-full h-fit   flex md:flex-row flex-col justify-between items-center pr-5">
                                    <div class="md:w-6/12 w-full h-full flex flex-col pl-10 pt-5 gap-1">
                                        <span class="font-bold"> {{item.SelectedVehicle}}</span>
                                        <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>
                                            {{item.pickupLocation}}
                                        </span>
                                        <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                                            {{item.dropoffLocation}}
                                        </span>
                                        <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
                                            Delivery Date: {{item.date}}
                                        </span>
                                        <span><i class="fa fa-money mr-1" aria-hidden="true"></i>

                                            Cash On Delivery
                                        </span>

                                        <span> <i class="fa-solid fa-id-card mr-1"></i>

                                            Refrance Id:{{item.jobid}}
                                        </span>

                                        <span> <i class="fa-solid fa-list-check mr-1"></i>

                                            Cargo Status:{{item.status}}
                                        </span>

                                    </div>
                                    <div
                                        class="md:w-6/12 w-full flex md:justify-end items-center md:ml-0 ml-20 mt-5 md:mt-0">
                                        <div
                                            class="flex flex-col md:w-28 w-20 h-14 md:h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
                                            <span class="text-slate-600">Rs. {{item.totalVechialPrice}}</span>
                                            <span class="text-slate-400">Job Price</span>
                                        </div>
                                    </div>
                                </div>


                                <nz-space>

                                    <button *nzSpaceItem nz-button nzType="primary"
                                        class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "
                                        (click)="showLarge2(item)">View All Details</button>

                                </nz-space>
                            </div>

                        </div>
                        <div *ngIf="agncySearchResultsFound " class="w-full flex justify-end mt-10">
                            <nz-pagination [nzPageIndex]="pageIndexTab2" [nzTotal]="totalItemsTab2"
                                [nzPageSize]="pageSizeTab2" nzShowSizeChanger
                                (nzPageIndexChange)="handlePageIndexChangeTab2($event)"
                                (nzPageSizeChange)="handlePageSizeChangeTab2($event)">
                            </nz-pagination>
                        </div>
                    </div>
                    <!-- drawer -->
                    <nz-drawer [nzSize]="size" [nzVisible]="visible2" nzPlacement="right" [nzTitle]="title2"
                        (nzOnClose)="close2()">
                        <ng-container *nzDrawerContent>

                            <div class=" grid grid-cols-1 lg:grid-cols-2">
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Name</span>
                                    <span class="">{{ selectedCartItem?.fullName }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Phone Number</span>
                                    <span class="">{{ selectedCartItem?.phoneNumber }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Name</span>
                                    <span class="">{{ selectedCartItem?.receiverName }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Phone
                                        Number</span>
                                    <span class="">{{ selectedCartItem?.receiverPhoneNumber }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Address</span>
                                    <span class="">{{ selectedCartItem?.senderAddress }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Address</span>
                                    <span class="">{{ selectedCartItem?.receiverAddress }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Vehicle Type</span>
                                    <span class="">{{ selectedCartItem?.SelectedVehicle }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Goods Type</span>
                                    <span class="">{{ selectedCartItem?.selectedGoodsType }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">PickupLocation</span>
                                    <span class="">{{ selectedCartItem?.pickupLocation }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">DropoffLocation </span>
                                    <span class="">{{ selectedCartItem?.dropoffLocation }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Hellper</span>
                                    <span class="">{{ selectedCartItem?.selectedHelper }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Estimated Weight</span>
                                    <span class="">{{ selectedCartItem?.estimatedWeight }} TON</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Distance</span>
                                    <span class="">{{ selectedCartItem?.distance }}Km</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Cargo Details</span>
                                    <span class="">{{ selectedCartItem?.itemDetails }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Order Posted Date </span>
                                    <span class="">{{ selectedCartItem?.JobBookedDate }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Delivery Date </span>
                                    <span class="">{{ selectedCartItem?.date }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Order Pickup Time </span>
                                    <span class="">{{ selectedCartItem?.pickupTime }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Status</span>
                                    <span class="">{{ selectedCartItem?.status }}</span>
                                </div>
                                <div class="flex flex-col mt-2"><span class="font-semibold ">Total Vehicle Price</span>
                                    <span class="">Rs.{{ selectedCartItem?.totalVechialPrice }}</span>
                                </div>

                            </div>

                        </ng-container>
                    </nz-drawer>

                    <div *ngIf="!agncySearchResultsFound ||!commonservice.AccepetedJob"
                        class="w-full  flex flex-col items-center justify-center  mt-10 ">

                        <div class="w-full h-52">

                            <div class="w-full  shadow-md rounded-md bg-white  h-full ">
                                <div class="w-full h-1/4 bg-white  pt-3 px-5 "
                                    style="border-bottom:1px solid  rgb(196, 196, 196);">
                                    <h3>
                                        All Accepted Jobs<i class="fa fa-truck ml-1" aria-hidden="true"></i></h3>
                                </div>
                                <div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-center items-center pr-5">

                                    <h3 class="text-slate-600 text-2xl font-semibold">No record found</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Canceled Jobs">

                    <div *ngIf="commonservice.canceledJob">
                        <div class="w-full  flex  justify-center mt-10  "
                            *ngFor="let item of commonservice.canceledJobsData">
                            <div class="w-full  shadow-md rounded-md bg-white  h-fit  pb-10 ">
                                <div class="w-full h-fit bg-white  flex justify-between items-center  px-5 "
                                    style="border-bottom: 1px solid  rgb(196, 196, 196);">
                                    <h3 class="pt-5"> <i class="fa-regular fa-rectangle-xmark"></i> Canceled Job</h3> <i
                                        (click)="showDeleteConfirm(item.id)"
                                        class="fa-solid fa-xmark hover:bg-red-700 hover:text-white px-2 shadow-sm hover:shadow-lg rounded-md font-semibold text-lg "></i>
                                </div>
                                <div class="w-full h-fit   flex md:flex-row flex-col justify-between items-center pr-5">
                                    <div class="md:w-6/12 w-full h-full flex flex-col pl-10 pt-5 gap-1"> <span
                                            class="font-bold">{{item.SelectedVehicle}}</span>
                                        <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>
                                            {{item.pickupLocation}}
                                        </span>
                                        <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                                            {{item.dropoffLocation}}
                                        </span>
                                        <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
                                            Delivery Date: {{item.date}}
                                        </span>
                                        <span><i class="fa fa-money mr-1" aria-hidden="true"></i>

                                            Cash On Delivery
                                        </span>
                                        <span> <i class="fa-solid fa-id-card mr-1"></i>

                                            Refrance Id:{{item.id}}
                                        </span>
                                        <span> <span class="font-semibold">Reason:</span>{{item.reason}}
                                        </span>

                                    </div>
                                    <div
                                        class="md:w-6/12 w-full flex md:justify-end items-center md:ml-0 ml-20 mt-5 md:mt-0">
                                        <div
                                            class="flex flex-col md:w-28 w-20 h-14 md:h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
                                            <span class="text-slate-600">Rs. {{item.totalVechialPrice}}</span>
                                            <span class="text-slate-400">Job Price</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="!commonservice.canceledJob"
                        class="w-full  flex flex-col items-center justify-center ml-10  mt-10 ">

                        <div class="w-full h-52">

                            <div class="w-full  shadow-md rounded-md bg-white  h-full ">
                                <div class="w-full h-1/4 bg-white  pt-3 px-5 "
                                    style="border-bottom: 1px solid  rgb(196, 196, 196);">
                                    <h3>
                                        All Canceled Jobs<i class="fa fa-truck ml-1" aria-hidden="true"></i></h3>
                                </div>
                                <div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-center items-center pr-5">

                                    <h3 class="text-slate-600 text-2xl font-semibold">No record found</h3>
                                </div>

                            </div>
                        </div>
                    </div>


                </nz-tab>
            </nz-tabset></div>
    </div>

</div>