<app-spiner *ngIf="commonservice.loading"></app-spiner>
<div class=" w-full  h-fit bg-[#FAFAFA]  overflow-x-hidden  pb-20" >
<div class="  md:ml-40 lg:ml-72 ml-28     mt-36   flex flex-col ">
    <span class="font-semibold text-4xl">Hi,{{username}}</span>
    <span class="text-2xl">Welcome to your dashboard </span>
</div>
<div class="w-full h-fit flex justify-center mt-10  gap-5 ml-10 overflow-hidden ">
    <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
        <div class="flex flex-col justify-between gap-5 ">
            <h3 class="text-slate-400">Booked Jobs</h3>
            <h3 class="text-slate-600 text-4xl font-semibold">{{commonservice.bookedJob ||0}}</h3>
          
        </div>
        <div><i class="fa fa-shipping-fast  md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] " aria-hidden="true"></i></div>
    </div>
  
    <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
        <div class="flex flex-col justify-between gap-5 ">
            <h3 class="text-slate-400">Completed Jobs</h3>
            <h3 class="text-slate-600 text-4xl font-semibold">{{jobdeliverCount}}</h3>
        </div>
        <div>
            <i class="fa fa-check-square-o md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  " aria-hidden="true"></i>
            </div>
    </div>
  
    
</div>
<div *ngIf="commonservice.bookedJob"><div  class="w-full  flex ml-10 justify-center mt-10  " *ngFor="let item of commonservice.data">
    <div class="w-8/12  shadow-md rounded-md bg-white  h-fit  pb-10 ">
<div class="w-full h-fit bg-white  pt-5 px-5 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3> <img class="w-6  mb-1 text-slate-400" src="../../../../../assets/imges/package.svg"> Booked Jobs</h3></div>
<div class="w-full h-fit   flex md:flex-row flex-col justify-between items-center pr-5">
    <div class="md:w-6/12 w-full h-full flex flex-col pl-10 pt-5 gap-1"> <span class="font-bold">{{item.SelectedVehicle}}</span>
    <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>
        {{item.pickupLocation}}
    </span>
    <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>  {{item.dropoffLocation}}
    </span>
    <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
       Delivery Date: {{item.date}}
    </span>
    <span><i class="fa fa-money mr-1" aria-hidden="true"></i>

    Cash On Delivery
    </span>
   
    <span> <i class="fa-solid fa-id-card mr-1"></i>

    Refrance Id:{{item.id}}
    </span>
    <span> <i class="fa-solid fa-id-card mr-1"></i>

        Cargo Status:{{item.status}}
    </span>
   

    </div>
   <div class="md:w-6/12 w-full flex md:justify-end items-center md:ml-0 ml-20 mt-5 md:mt-0"> <div class="flex flex-col md:w-28 w-20 h-14 md:h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
    <span class="text-slate-600">Rs. {{item.totalVechialPrice}}</span>
<span class="text-slate-400">Job Price</span>
</div></div>
</div>
<div>
    <button  [routerLink]="['/track-job', item.id]"  nz-button nzSize="default" nzType="primary" class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "> Track Job 
        <i class="fa fa-search ml-2" aria-hidden="true"></i> 
    </button>

    <button   (click)="showDeleteConfirm(item.id)" nz-button nzSize="default" nzType="primary" class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "> CANCEL JOB <i class="fa fa-times text-white ml-2" aria-hidden="true"></i>
    </button>
</div>
    </div>
</div></div>
<div *ngIf="!commonservice.bookedJob" class="w-full  flex flex-col items-center justify-center ml-10  mt-10 ">
  
    <div class="w-8/12 h-52">
   
     <div class="w-full  shadow-md rounded-md bg-white  h-full ">
       <div class="w-full h-1/4 bg-white  pt-3 px-5 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3>
         All Booked Jobs<i class="fa fa-truck ml-1" aria-hidden="true"></i></h3></div>
       <div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-center items-center pr-5">
           
          <h3 class="text-slate-600 text-2xl font-semibold">No record found</h3>
       </div>
       
           </div>
    </div>
   </div>
</div>
<div>
    <nz-modal 
      [(nzVisible)]="isVisible"
      nzTitle="Confirm Cancel Job"
      nzOkText="Submit"
      nzCancelText="Cancel"
      (nzOnOk)="handleOk()"
      (nzOnCancel)="handleCancel()"
    >
      <ng-container *nzModalContent class="w-full h-[40vh]">
        <p class="text-red-700">Reason to cancel</p>
    
            <nz-select class="w-full" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue" nzSize="large" >
                <div *ngFor="let item of reason">
                <nz-option nzLabel="{{item.reason}}" nzValue="{{item.reason}} "></nz-option>
               
            </div>
              </nz-select>
       
      </ng-container>
    </nz-modal>
  </div>