<div class=" w-full  h-screen bg-[#FAFAFA]  overflow-hidden " >
<div class=" w-9/12    mt-32  flex flex-col mx-auto">
    <span class="font-semibold text-4xl">Hi,Tanveer</span>
    <span class="text-2xl">Welcome to your dashboard </span>
</div>
<div class="w-full h-28 flex justify-center mt-10  gap-5 ml-10 overflow-hidden ">
    <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
        <div class="flex flex-col justify-between gap-5 ">
            <h3 class="text-slate-400">Booked Jobs</h3>
            <h3 class="text-slate-600 text-4xl font-semibold">1</h3>
        </div>
        <div><i class="fa fa-shipping-fast  px-5 py-3 text-3xl rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] " aria-hidden="true"></i></div>
    </div>
  
    <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
        <div class="flex flex-col justify-between gap-5 ">
            <h3 class="text-slate-400">Completed Jobs</h3>
            <h3 class="text-slate-600 text-4xl font-semibold">0</h3>
        </div>
        <div>
            <i class="fa fa-check-square-o  px-5 py-3 text-3xl rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]" aria-hidden="true"></i>
            </div>
    </div>
  
    
</div>
<div class="w-full  flex ml-10 justify-center mt-10 ">
    <div class="w-8/12  shadow-md rounded-md bg-white  h-72 ">
<div class="w-full h-1/4 bg-white  pt-5 px-5 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3> <img class="w-6  mb-1 text-slate-400" src="../../../../../assets/imges/package.svg"> Booked Jobs</h3></div>
<div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-between items-center pr-5">
    <div class="w-6/12 h-full flex flex-col pl-10 pt-5 gap-1"> <span class="font-bold">Hyundai Shehzore</span>
    <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>Faisalabad Pakistan
    </span>
    <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Lahore Pakistan
    </span>
    <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
       Delivery Date: 11-Mar-2024
    </span>
    <span><i class="fa fa-money mr-1" aria-hidden="true"></i>

    Cash On Delivery
    </span>
    <button  routerLink="/dashboard"  nz-button nzSize="default" nzType="primary" class="w-36 h-8  mt-3 px-2 text-base rounded-md cursor-pointer  "> CANCEL JOB <i class="fa fa-times text-white ml-2" aria-hidden="true"></i>
    </button>

    </div>
    <div class="flex flex-col w-28 h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
        <span class="text-slate-600">Rs. 11,229</span>
<span class="text-slate-400">Job Price</span>
    </div>
</div>

    </div>
</div>
</div>