
@media (max-width: 459px) {
    .custom-hide-md {
        display: none;
    }
}

@media (min-width: 460px) {
    .custom-show-md {
        display: block;
    }
}
nz-spin {
    display: inline-block;
    margin-left: 16px;
  }