
.search-box input {
        width: 188px;
        margin-bottom: 8px;
        display: block;
      }

      .search-box button {
        width: 90px;
      }

      .search-button {
        margin-right: 8px;
      }
      .tableHeader  th,td{
text-align: center;

      }
      .tableHeader  th{
background-color: lightblue;
color: white;
              }