<div class="  bg-[#F3F7F8] pb-20">
  <div class="w-screen pt-20 pb-5 mt-20 flex justify-center items-center   ">
    <div class="w-9/12 bg-[#FFFFFF] px-24 py-4 rounded-sm shadow-sm">
      <nz-steps [nzCurrent]="3" nzSize="small">
        <nz-step nzTitle="Location"></nz-step>
        <nz-step nzTitle="Vehicle & Goods Info"></nz-step>
        <nz-step nzTitle="Price & Booking"></nz-step>
        <nz-step nzTitle="Checkout"></nz-step>
      </nz-steps>
    </div>

  </div>
  <div>
    <div class=" w-screen h-screen justify-center items-center   ">

      <div class="w-9/12 h-full  flex gap-4 m-auto   ">
        <div class="w-8/12 h-full  bg-[#FFFFFF] rounded-lg shadow-sm">
          <p class=" px-5 pt-5  text-lg text-slate-700">Select Payment Type</p>
          <div class=" px-5">
          <div class="w-full flex justify-between">
            <div class="flex items-center">
              <input type="radio" id="radio1" name="radioGroup" class="form-radio h-4 w-4 text-indigo-600 border-gray-300"
                     [(ngModel)]="selectedPayment" [value]="'Card Payment'">
              <label for="radio1" class="ml-2 text-slate-700 text-lg font-medium" [class.text-slate-400]="selectedPayment === 'Card Payment'">Card Payment</label>
            </div>
            <img src="../../../../assets/imges/payment-cards.svg" alt="">
            <div class="flex items-center">
              <input type="radio" id="radio2" name="radioGroup" class="form-radio h-4 w-4 text-indigo-600 border-gray-300"
                     [(ngModel)]="selectedPayment" [value]="'Cash on Delivery'">
              <label for="radio2" class="ml-2 text-slate-700 text-lg font-medium" [class.text-slate-400]="selectedPayment === 'Cash on Delivery'">Cash on Delivery</label>
            </div>
          </div>
            <hr class="bg-slate-50 mt-5">
            <div class="mt-14">
             <div class="w-full flex justify-between text-base" > <p>Initial Deposit</p>
              <p>2003</p></div>
             <div class="w-full flex justify-between text-base"> <p>Remaining Amount

             </p>
              <p>13,754</p></div>
              <hr class="bg-slate-600 mt-5 h-[1px]">
              <div class="w-full flex justify-between mt-5 text-base font-semibold text-slate-600"> <p>Total Payment

              </p>
               <p>Rs 16058</p></div>
               <hr class="bg-slate-600 mt-2 h-[1px]">
            </div>
            <p class=" pt-  text-lg text-slate-700">Select Payment</p>
            <div>
              <div class=" flex justify-between">
                <div class="flex items-center">
                  <input type="radio" id="initialRadio" name="paymentGroup" class="form-radio h-4 w-4 text-indigo-600 border-gray-300"
                         [(ngModel)]="selectedPayment1" [value]="'Initial Payment'">
                  <label for="initialRadio" class="ml-2 text-slate-700 text-lg font-medium" [class.text-slate-400]="selectedPayment1 === 'Initial Payment'">Initial Payment</label>
                </div>
                <p>2304</p>
              </div>
              <div class="flex justify-between">
                <div class="w-full flex justify-between">
                  <!-- Initial Payment -->
                  
                
                  <!-- Full Payment -->
                  <div class="flex items-center">
                    <input type="radio" id="fullRadio" name="paymentGroup" class="form-radio h-4 w-4 text-indigo-600 border-gray-300"
                           [(ngModel)]="selectedPayment1" [value]="'Full Payment'">
                    <label for="fullRadio" class="ml-2 text-slate-700 text-lg font-medium" [class.text-slate-400]="selectedPayment1 === 'Full Payment'">Full Payment</label>
                  </div>
                </div>
                
                <p>2304</p>
              </div>
              
            </div>
          </div>
          

        </div>
        <div class="w-4/12 h-fit pb-5 bg-[#FFFFFF]  rounded-lg shadow-lg px-5">
          <div class="w-ful flex flex-col   ">

           <div class="w-full flex flex-col justify-center items-center">
            <span class="text-lg text-slate-500">Total Price</span>
            <span class="text-3xl font-semibold text-slate-700">Rs.11,646</span>
           </div>
          </div>
          <hr class="bg-slate-50 mt-4">
          <img  class="mt-20" src="../../../../assets/imges/12291153_Logistic workers delivering meds.svg" alt="">
        </div>
      </div>
    </div>
    <!-- <div class=" w-full flex justify-center mt-8 gap-8 ">
      <button routerLink="/user/pricing" nz-button nzSize="default" nzType="primary"
        class="w-32 text-base rounded-md bg-[#CCCCCC] border-0 hover:bg-[#a4a3a3]">Back</button>
      <button  routerLink="/user/booking"  nz-button nzSize="default" nzType="primary" class="w-32 text-base rounded-md ">Book Now</button>
    </div> -->
  </div>
</div>
