<div class="w-full h-[100vh] bg-[#FAFAFA] pt-32 overflow-hidden">
 
  <div  class="w-full  flex flex-col items-center justify-center ml-10  mt-10 ">
  
 <div class="w-8/12 h-52">
  <h1 class=" text-3xl  mb-10 font-semibold">Payment History</h1>
  <div class="w-full  shadow-md rounded-md bg-white  h-full ">
    <div class="w-full h-1/4 bg-white  pt-3   px-7 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3> <i class="fa fa-bell-o" aria-hidden="true"></i>

      Complete Payment History  </h3></div>
    <div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-center items-center pr-5">
        
       <h3 class="text-slate-600 text-2xl font-semibold">No record found</h3>
    </div>
    
        </div>
 </div>
</div>
</div>