
<div class="h-fit bg-[#F3F7F8] pb-20">
  <div class="w-full pt-20 pb-5 mt-20 flex justify-center items-center   ">
    <div class="w-9/12 bg-[#FFFFFF] lg:px-24  px-5 md:px-10  py-4 rounded-lg shadow-sm">
      <nz-steps [nzCurrent]="1" nzSize="small" >
        <nz-step nzTitle="Location" ></nz-step>
        <nz-step nzTitle="Vehicle & Goods Info"></nz-step>
        <nz-step nzTitle="Price & Booking"></nz-step>
        <nz-step nzTitle="Checkout"></nz-step>
      </nz-steps>
    </div>

  </div>
  <div>
    <form action="" [formGroup]="vehicleGoodsForm" >
    <div class=" w-full h-fit  justify-center items-center  ">

      <div class="lg:w-9/12 w-full h-fit  flex lg:flex-row md:flex-col flex-col-reverse gap-5 m-auto  justify-center items-center  ">
        <div class="lg:w-8/12 sm:h-[55vh] h-fit w-9/12  bg-[#FFFFFF] rounded-lg shadow-sm">
          <p class=" px-5 pt-8 pb-3 text-lg text-slate-700">Select Vehicle and Goods Info</p>
      
        <div class=" flex sm:flex-row flex-col  w-full  pb-10   ">
          <div class="sm:w-6/12 w-full  flex sm:flex-col flex-row gap-5 px-3 mt-5 sm:mt-8">


            <div class="w-full flex flex-col relative">
              <label for="">Vehicle Type</label>
            
              <div class="w-full relative z-10"> <!-- Add z-10 class -->
                <button class=" w-full h-10 " (click)="toggleDropdown()">
                  <div class="flex items-center">
                    <li class="list-none">
                      <img class="w-7 mr-1" [src]="selectedImage" alt="">
                      <span>{{ selectedOption }}</span>
                    </li>
                  </div>
                </button>
                <div class="absolute top-full w-full z-20" *ngIf="open"> <!-- Add z-20 class -->
                  <ul class=" pb-2 list-none bg-white shadow-lg px-0 w-full h-[200px] overflow-y-scroll"> <!-- Adjust padding -->
                   <ng-container  *ngFor="let item of vehicleTypesdata">
                     <li class="py-2  hover:bg-slate-200 px-2" (click)="selectOption(item.name, item.src)">
                      <img class="w-7 mr-2" [src]="item.src" alt="" value="1">
                      <span>{{item.name}}</span>
                    </li>
                  </ng-container>
                 
                  </ul>
                </div>
              </div>
            
              <div class="w-full flex flex-col mt-8 sm:mt-20">
                <label for="">Estimated Weight <span class="text-slate-500 font-semibold" *ngIf="allowedWeight">(Allowed Weight:{{allowedWeight}} TON)</span></label>
                <nz-form-control>
                  <input nz-input placeholder="Estimated Weight" nzSize="large" formControlName="estimatedWeight"  />
                  <div *ngIf="vehicleGoodsForm.get('estimatedWeight')?.hasError('required')" class="text-red-500 mt-1">Estimated Weight is required</div>
                  <div *ngIf="vehicleGoodsForm.get('estimatedWeight')?.hasError('maxWeightExceeded')" class="text-red-500 mt-1">Estimated Weight cannot exceed allowed weight</div>
                </nz-form-control>
              </div>
            </div>
            



          </div>
          <div class="sm:w-6/12 w-full  flex flex-col sm:gap-5 px-3 mt-5 sm:mt-8">


            <div class="w-full flex flex-col ">
              <label for="">Goods Type</label>
            
              <nz-select  formControlName="selectedGoodsType" nzAllowClear nzPlaceHolder="Select a person" nzSize="large" class="w-full rounded-lg  overflow-y-auto" >
                <ng-container *ngFor="let item of goodsTypesdata" >
                  <nz-option [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
               
                </ng-container>
              </nz-select>
              <nz-form-control nzErrorTip="Please select goods type">
                <div nz-form-explain class="text-red-500 mt-1" *ngIf="vehicleGoodsForm.get('selectedGoodsType')?.hasError('required') && vehicleGoodsForm.get('selectedGoodsType')?.touched">
                  Goods type is required.
                </div>
              </nz-form-control>
            </div>
            
            <div class=" w-full flex flex-col sm:mt-8 ">
              <label for="">Select according to your need.</label>
              <nz-select formControlName="selectedHelper" nzAllowClear nzPlaceHolder="Select Helper Option" nzSize="large" class=" w-full  rounded-lg">
                <nz-option nzLabel="None" nzValue="none"></nz-option>
                <ng-container *ngFor="let item of helperCount">
                  <nz-option nzLabel="{{item.name}}Helper" [nzValue]="item.name"></nz-option>
                
                </ng-container>
              </nz-select>
            </div>



          </div>


        </div>

     
        </div>
        <div class="lg:w-4/12 flex lg:flex-col lg:justify-end lg:gap-5 justify-evenly  lg:pb-10 items-center  w-9/12 lg:h-[55vh] md:h-[40vh] h-[30vh] bg-[#FFFFFF]  rounded-lg shadow-lg ">
          <img class="   lg:w-9/12 bottom-24 w-6/12 " src="../../../../assets/imges/10067101_4342804-removebg-preview.png"
            alt="">
          <div   class="flex  w-4/12 bottom-16 lg:w-full gap-5 justify-center items-center ">
            <img class="lg:w-4/12 w-6/12" src="../../../../assets/imges/app-store.png" alt="">
            <img class="lg:w-4/12 w-6/12" src="../../../../assets/imges/google-play.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class=" w-full flex justify-center mt-10 gap-8 ">
      <button  routerLink="" nz-button nzSize="default" nzType="primary"
        class="w-32 text-base rounded-md bg-[#CCCCCC] border-0 hover:bg-[#a4a3a3]">Back</button>
      <button  (click)="onSubmit()" type="submit"  [disabled]="isSubmitDisabled"  nz-button nzSize="default" nzType="primary" class="w-32 text-base rounded-md ">Get Price</button>
    </div>
    </form>
  </div>
</div>
