<!-- <app-header></app-header> -->
<div class="font-mono ">
  <!-- Container -->
  <div class="container mx-auto">
    <div class="flex justify-center items-center h-screen px-6">
      <!-- Row -->
      <div class="w-full xl:w-3/4 lg:w-11/12 flex">
        <!-- Col -->
        <div class="md:block hidden w-full h-auto bg-slate-300 relative  lg:block lg:w-5/12 bg-cover rounded-l-lg "><img
            class="w-11/12 absolute bottom-10"
            src="../../../assets/imges/20602920_6325225.svg" alt="">
        </div>
        <!-- Col -->
        <div class="w-full lg:w-7/12 bg-slate-100 p-5 rounded-lg lg:rounded-l-none">
          <h3 class="pt-4 text-2xl text-center">Login in Your Account!</h3>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="px-8 pt-6 pb-8 mb-4  rounded">
            <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="email">Email</label>
                <input formControlName="email" id="email" type="email" placeholder="Email"
                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                <p class="text-red-500 text-xs italic" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    Email is required and must be valid
                </p>
            </div>
        
            <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="password">Password</label>
                <input formControlName="password" id="password" type="password" placeholder="******************"
                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                <p class="text-red-500 text-xs italic" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    Password is required and must be at least 6 characters long
                </p>
            </div>
        
            <div class="mb-4" *ngIf="form.get('confirmPassword')">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="confirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="******************"
                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                <p class="text-red-500 text-xs italic" *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
                    Passwords must match
                </p>
            </div>
        
            <div class="mb-6 text-center">
                <button type="submit"
                    class="w-full px-4 py-2 font-bold text-white bg-[#44566A] rounded-full hover:bg-[#30445D] focus:outline-none focus:shadow-outline">
                    Log in Account
                </button>
            </div>
            <hr class="mb-6 border-t" />
            <div class="text-center">
              <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" href="#">Forgot Password?</a>
            </div>
         <div class="w-full flex justify-between px-5">
          <a class=" text-sm text-blue-500 align-baseline hover:text-blue-800" routerLink="">
            Home        </a>
          <div class="w-11/12 text-center ">
            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" routerLink="/user-signup">
              If you don't have an account? <span>Sign Up!</span>
            </a>
          </div>
         </div>
        </form>
       
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->