<div class=" w-full  h-fit bg-[#FAFAFA]  overflow-x-hidden  pb-20">
    <div class="  md:ml-40 lg:ml-80 ml-28     mt-24   flex flex-col ">
        <span class="font-semibold text-4xl">Hi,{{username}}</span>
        <span class="text-2xl">Welcome to Cargo Agency Dashboard </span>
    </div>
    <div class="w-full h-fit flex flex-col justify-center mt-10  gap-5 ml-10 overflow-hidden ">
        <div class="w-full flex  justify-center gap-5">
            <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
                <div class="flex flex-col justify-between gap-5 ">
                    <h3 class="text-slate-400">Accepted Jobs</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold">{{jobcount ||0}}</h3>

                </div>
                <div><i class="fa fa-shipping-fast  md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] "
                        aria-hidden="true"></i></div>
            </div>
            <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
                <div class="flex flex-col justify-between gap-5 ">
                    <h3 class="text-slate-400">In Process Jobs</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold">{{jobproc ||0}}</h3>
                </div>
                <div>
                    <i
                        class="fa-solid fa-bars-progress md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE] "></i>

                </div>
            </div>

          
        </div>
        <div class="w-full  flex  justify-center gap-5">
           

            <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
                <div class="flex flex-col justify-between gap-5 ">
                    <h3 class="text-slate-400">On the Way</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold">{{jobontheway ||0}} </h3>
                </div>
                <div>
                    <i class="fa fa-road md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  " aria-hidden="true"></i>
                    

                </div>
            </div>
            <div class="bg-white w-4/12 h-full shadow-md rounded-md flex justify-between pl-5 pr-2 py-2">
                <div class="flex flex-col justify-between gap-5 ">
                    <h3 class="text-slate-400">Delivered Jobs</h3>
                    <h3 class="text-slate-600 text-4xl font-semibold"> {{jobdelv || 0}}</h3>
                </div>
                <div>
                    <i class="fa fa-check-square-o md:px-5 px-2 md:py-3 py-2 md:text-3xl text-lg rounded-md shadow-sm text-orange-400 bg-[#FEF9EE]  "
                        aria-hidden="true"></i>
                </div>
            </div>

        </div>

    </div>
    <div *ngIf="commonservice.jobAccepted">
        <div class="w-full  flex ml-10 justify-center mt-10  " *ngFor="let item of commonservice.data">
            <div class="w-8/12  shadow-md rounded-md bg-white  h-fit  pb-10 ">
                <div class="w-full h-fit bg-white  pt-5 px-5 flex justify-between" style="border-bottom: 1px solid  rgb(196, 196, 196);">
                    <h3> <img class="w-6  mb-1 text-slate-400" src="../../../../../assets/imges/package.svg"> Accepted
                        Jobs</h3>
                        
                        <span *ngIf="driverJobIds.includes(item.jobid) && item.status !== 'Delivered'" class=" ml-5 font-semibold" >Job Assigned to Driver</span>
                        <span *ngIf=" item.status == 'Delivered'"  class="font-semibold ml-5" >Job Delivered to Customer </span>
                </div>
                <div class="w-full h-fit   flex md:flex-row flex-col justify-between items-center pr-5">
                    <div class="md:w-6/12 w-full h-full flex flex-col pl-10 pt-5 gap-1">
                        <span class="font-bold"> {{item.SelectedVehicle}}</span>
                        <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>
                            {{item.pickupLocation}}
                        </span>
                        <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i> {{item.dropoffLocation}}
                        </span>
                        <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
                            Delivery Date: {{item.date}}
                        </span>
                        <span><i class="fa fa-money mr-1" aria-hidden="true"></i>

                            Cash On Delivery
                        </span>

                        <span> <i class="fa-solid fa-id-card mr-1"></i>

                            Refrance Id:{{item.jobid}}
                        </span>
                        <span> <i class="fa-solid fa-list-check mr-1"></i>

                            Cargo Status:{{item.status}}
                        </span>
                        <!-- <h1 [title]="item.id">drivername </h1> -->
                        <span><span class="font-bold">Driver Name:</span>{{item?.driverName || ""}}</span>

                    </div>
                    <div class="md:w-6/12 w-full flex md:justify-end items-center md:ml-0 ml-20 mt-5 md:mt-0">
                        <div
                            class="flex flex-col md:w-28 w-20 h-14 md:h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
                            <span class="text-slate-600">Rs. {{item.totalVechialPrice}}</span>
                            <span class="text-slate-400">Job Price</span>
                            
                        </div>
                    </div>
                </div>


                <nz-space>
                    <button  [routerLink]="['/jobTracking', item.jobid]"  nz-button nzSize="default" nzType="primary" class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "> Track Job 
                        <i class="fa fa-search ml-2" aria-hidden="true"></i> 
                    </button>
                    <button *nzSpaceItem nz-button nzType="primary"
                        class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "
                        (click)="showLarge(item)">View All Details</button>

         <!-- <button nz-button nzType="primary" [routerLink]="['/jobTracking', item.id]"
                        class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  ">Manage Cargo</button> -->
        <div *ngIf="!driverJobIds.includes(item.jobid)" > <button  nz-button nzType="primary" 
            (click)="showModal(item.jobid,'assign')"
                           class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  ">Assign Job</button></div>
                           <div>
                            <button *ngIf="driverJobIds.includes(item.jobid) && item.status !== 'Delivered'"
                                    nz-button nzType="primary" 
                                    (click)="showModal(item.jobid, 'reAssign')"
                                    class="w-36 h-8 ml-10 mt-6 px-2 text-base rounded-md cursor-pointer">
                              Re Assign Job
                            </button>
                          </div>
                          
                       
                    
                </nz-space>
             
            </div>
        </div>
    </div>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Assigne Job" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form action="" [formGroup]="driverForm">
                <div class="w-full flex flex-col sm:mt-8">
                  <label for="">Select Driver to assign job.</label>
                  <!-- <nz-select formControlName="selectedDriver" nzAllowClear nzPlaceHolder="Select a Driver" nzSize="large" class="w-full rounded-lg">
                    <nz-option nzLabel="None" nzValue="none"></nz-option>
                    <ng-container *ngFor="let driver of drivers">
                      <nz-option nzLabel="{{ driver.fullName }}" [nzValue]="driver.id" [nzDisabled]="driverJobIds.includes(driver.id)"></nz-option>
                    </ng-container>
                  </nz-select> -->
                  <nz-select formControlName="selectedDriver" nzAllowClear nzPlaceHolder="Select a Driver" nzSize="large" class="w-full rounded-lg">
                    <!-- <ng-container *ngIf="driverJobIds.includes(item.id)"> -->
                    <ng-container *ngFor="let driver of drivers">
                        <nz-option nzLabel="{{ driver.fullName }}" [nzValue]="driver._id "></nz-option>
                      </ng-container>
                    <!-- </ng-container -->
                  </nz-select>
                </div>
              </form>
              
              
        </ng-container>
      </nz-modal>
    <!-- drawer -->
    <nz-drawer [nzSize]="size" [nzVisible]="visible" nzPlacement="right" [nzTitle]="title" (nzOnClose)="close()">
        <ng-container *nzDrawerContent>

            <div class=" grid grid-cols-1 lg:grid-cols-2">
                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Name</span>
                    <span class="">{{ selectedCartItem?.fullName }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Phone Number</span>
                    <span class="">{{ selectedCartItem?.phoneNumber }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Name</span>
                    <span class="">{{ selectedCartItem?.receiverName }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Phone Number</span>
                    <span class="">{{ selectedCartItem?.receiverPhoneNumber }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Sender Address</span>
                    <span class="">{{ selectedCartItem?.senderAddress }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Receiver Address</span>
                    <span class="">{{ selectedCartItem?.receiverAddress }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Vehicle Type</span>
                    <span class="">{{ selectedCartItem?.SelectedVehicle }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Goods Type</span>
                    <span class="">{{ selectedCartItem?.selectedGoodsType }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">PickupLocation</span>
                    <span class="">{{ selectedCartItem?.pickupLocation }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">DropoffLocation </span>
                    <span class="">{{ selectedCartItem?.dropoffLocation }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Hellper</span>
                    <span class="">{{ selectedCartItem?.selectedHelper }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Estimated Weight</span>
                    <span class="">{{ selectedCartItem?.estimatedWeight }} TON</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Distance</span>
                    <span class="">{{ selectedCartItem?.distance }}Km</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Cargo Details</span>
                    <span class="">{{ selectedCartItem?.itemDetails }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Order Posted Date </span>
                    <span class="">{{ selectedCartItem?.JobBookedDate }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Delivery Date </span>
                    <span class="">{{ selectedCartItem?.date }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Order Pickup Time </span>
                    <span class="">{{ selectedCartItem?.pickupTime }}</span>
                </div>
                <div class="flex flex-col mt-2"><span class="font-semibold ">Total Vehicle Price</span>
                    <span class="">Rs.{{ selectedCartItem?.totalVechialPrice }}</span>
                </div>

            </div>

        </ng-container>
    </nz-drawer>


    <!-- modal -->
 
    
    <div *ngIf="!commonservice.jobAccepted" class="w-full  flex flex-col items-center justify-center ml-10  mt-10 ">

        <div class="w-8/12 h-52">

            <div class="w-full  shadow-md rounded-md bg-white  h-full ">
                <div class="w-full h-1/4 bg-white  pt-3 px-5 " style="border-bottom:1px solid  rgb(196, 196, 196);">
                    <h3>
                        All Accepted Jobs<i class="fa fa-truck ml-1" aria-hidden="true"></i></h3>
                </div>
                <div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-center items-center pr-5">

                    <h3 class="text-slate-600 text-2xl font-semibold">No record found</h3>
                </div>

            </div>
        </div>
    </div>
</div>