<div
  class="lg:w-80 h-screen flex z-30 fixed bottom-0 top-0 left-0 transition-all duration-300"
  [ngClass]="{ 'w-0': isCollapsed, 'w-80': !isCollapsed }"
>
  <ul
    nz-menu
    nzMode="inline"
    [nzTheme]="theme ? 'dark' : 'light'"
    [nzInlineCollapsed]="isCollapsed"
    class="h-full relative mt-20 pt-5"
  >
    <li nz-submenu nzTitle="Home" nzIcon="home" class="mb-5">
      <ul>
        <li nz-menu-item routerLink="/driver-dashboard">
          <span nz-icon nzType="appstore" class="mr-1"></span> Dashboard
        </li>
      </ul>
    </li>

    <li nz-submenu nzTitle="My Account" nzIcon="solution" class="mb-5">
      <ul>
        <li (click)="logout()" nz-menu-item>
          <span nz-icon nzType="logout" nzTheme="outline" class="mr-1"></span
          >Logout
        </li>
      </ul>
    </li>

    <li nz-submenu nzTitle="Others" nzIcon="question-circle">
      <ul>
        <li routerLink="/contactUS" nz-menu-item>
          <i class="fa fa-phone mr-1" aria-hidden="true"></i>Contact Us
        </li>
      </ul>
    </li>
    <li class="absolute bottom-28 w-full flex justify-end pr-5">
      <nz-switch [(ngModel)]="theme">
        <span checked>Dark</span>
        <span unchecked>Light</span>
      </nz-switch>
    </li>
  </ul>

  <div class="">
    <button
      class="ml-2 mt-24"
      nz-button
      nzType="primary"
      (click)="toggleCollapsed()"
    >
      <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
    </button>
  </div>
</div>
