<div class="w-full h-[100vh] bg-[#FAFAFA] pt-32 overflow-hidden">
 
  <div *ngIf="jobCompleted" class="w-full  flex flex-col items-center justify-center ml-10  mt-10 ">
  
 <div class="w-8/12 h-52">
  <h1 class=" text-3xl  mb-10 font-semibold">Completed Jobs</h1>
  <div class="w-full  shadow-md rounded-md bg-white  h-full ">
    <div class="w-full h-1/4 bg-white  pt-3 px-5 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3> <i class="fa fa-check-square-o" aria-hidden="true"></i>
      All Completed Jobs</h3></div>
    <div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-center items-center pr-5">
        
       <h3 class="text-slate-600 text-2xl font-semibold">No record found</h3>
    </div>
    
        </div>
 </div>
</div>
  <div *ngIf="!jobCompleted" class="w-full  flex ml-10 justify-center mt-10 ">
    <div class="w-8/12  shadow-md rounded-md bg-white  h-96 ">
<div class="w-full h-1/4 bg-white  pt-7 px-5 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3> <img class="w-6  mb-1 text-slate-400" src="../../../../../assets/imges/package.svg"> Completed Jobs</h3></div>
<div class="w-full h-3/4 bg-[#FCFCFC]  flex justify-between items-center pr-5">
    <div class="w-6/12 h-full flex flex-col pl-10 pt-5 gap-1"> <span class="font-bold">Hyundai Shehzore</span>
    <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>Faisalabad Pakistan
    </span>
    <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Lahore Pakistan
    </span>
    <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
       Delivery Date: 11-Mar-2024
    </span>
    <span><i class="fa fa-money mr-1" aria-hidden="true"></i>

    Cash On Delivery
    </span>


    </div>
    <div class="flex flex-col w-28 h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
        <span class="text-slate-600">Rs. 11,229</span>
<span class="text-slate-400">Job Price</span>
    </div>
</div>

    </div>
</div>

</div>