<div
  class="lg:w-screen overflow-hidden h-20 z-40 fixed top-0 left-0 right-0 bg-white shadow-md flex justify-between items-center pr-10"
>
  <div
    class="w-0 p-0 md:w-8/12 lg:6/12 h-full flex justify-between items-center md:pr-20"
  >
    <span
      class="text-2xl pl-2 hidden lg:block"
      routerLink="/agency"
      style="color: #30445d"
      ><i class="em em-grinning"></i>
      <span
        class="text-3xl xl:text-2xl lg:text-xl font-extrabold"
        style="color: rgb(68, 86, 106)"
        >E Cargo</span
      >
      Services <i class="fa fa-shipping-fast" aria-hidden="true"></i
    ></span>

    <button
      routerLink="/agency-dashbord"
      nz-button
      nzSize="default"
      nzType="primary"
      class="w-28 h-10 text-base rounded-md cursor-pointer hidden lg:block"
    >
      My Account
    </button>
  </div>
  <div class="w-full justify-start items-center ml-10">
    <h1 class="text-3xl font-extrabold text-slate-600 block lg:hidden">ECS</h1>
  </div>
  <div>
    <button
      nz-button
      nz-dropdown
      [nzDropdownMenu]="menu1"
      nzPlacement="bottomRight"
      class="border-0 shadow-none pt-0"
    >
      <nz-avatar nzIcon="user" [nzSize]="45"> </nz-avatar>
      <nz-badge [nzCount]="bookedcount">
        <a class="head-example"> </a>
      </nz-badge>
    </button>

    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu class="mt-5 w-64 rounded-md shadow-lg">
        <li class="py-5 pl-4 px-3">
          <div class="flex cursor-pointer">
            <nz-avatar nzIcon="user" [nzSize]="45"></nz-avatar>
            <div class="flex flex-col ml-3">
              <span>{{ username }}</span> <span>ECS Agency</span>
            </div>
          </div>
        </li>
        <hr class="bg-slate-50 mb-3" />

        <li
          nz-menu-item
          routerLink="/dashboard"
          class="py-2 pl-4 cursor-pointer"
        >
          <span nz-icon nzType="appstore" class="mr-1"></span> Dashboard
        </li>

        <li nz-menu-item class="py-2 pl-4 cursor-pointer" (click)="logout()">
          <span nz-icon nzType="logout" nzTheme="outline" class="mr-1"></span
          >Logout
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
