<div class="w-full h-fit  bg-[#FAFAFA] pt-32 overflow-x-hidden">
  <h1 class=" md:ml-72 ml-28 mt-3 text-3xl  mb-10 font-semibold">Track Job</h1>
  <div  class="w-full  flex flex-col items-center justify-center ml-10  mt-10 ">
   
 <div class="md:w-5/12 w-7/12 h-fit mb-32">

  <div class="w-full  shadow-md rounded-md bg-white  h-full ">
    <div class="w-full h-20 bg-white  pt-5   px-7 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3> <i class="fa fa-check-square-o text-slate-400 text-xl mr-1" aria-hidden="true"></i>

      Job Tracking Result</h3></div>
    <div class="w-full  flex md:pl-20 pl-5  pt-10  pb-10 m-auto pr-5">
        
     <div class="h-full w-full "> <nz-steps [nzCurrent]="3" nzDirection="vertical" class="flex h-full w-full gap-1">
      <nz-step nzTitle="Job Booked Date" nzDescription="12-March-2024." ></nz-step>
      <nz-step nzTitle="Pickup date & time" nzDescription="">
       
      </nz-step>
      <nz-step nzTitle="Pickup Completed" nzDescription=""></nz-step>
      <nz-step nzTitle="Drop off Completed" nzDescription=""></nz-step>
   <nz-step nzTitle="Delivery Proof:" nzDescription="View imge" class=""> </nz-step>
      <nz-step nzTitle="Receiver Signature:" nzDescription="View imge"></nz-step>
    </nz-steps></div>
    </div>
    
        </div>
 </div>
</div>
</div>