
<div class="w-full max-h-fit pb-32 p-5">
  <div class="w-full flex flex-col items-center pt-5 sm:pt-10 pb-5 ">
  <span class="text-3xl">Success!
</span>
<p class="sm:text-2xl text-xl"> Your job has now been booked.</p>
</div>
<div class="w-full  flex justify-center items-center mb-14">
  <div class=" flex md:flex-row flex-col justify-between  items-center w-10/12  md:gap-7 gap-4 ">
    
     <div class=" shadow-sm h-16 flex items-center justify-center bg-[#F7F8F9] rounded-xl  md:w-8/12  w-full ">
       <span class="lg:text-2xl sm:text-lg text-base mr-2"> 03 074 206 006</span>
       <span class="text-slate-400 text-sm">Need help? Call us now
       </span>
     </div>
     <div class="bg-[#F7F8F9] rounded-xl md:w-4/12  w-full p-4 flex justify-center items-center shadow-sm"> <span class=" lg:text-xl text-lg">Job ID: ECS{{commonService.rafranceId}}  </span></div>
  
   </div>
   
</div>
<div class="w-full flex justify-center items-center h-fit mb-10 ">
  <div class=" flex lg:flex-row flex-col w-10/12 h-fit bg-[#F7F8F9] rounded-xl px-10 py-10 gap-3 sm:gap-5 md:gap-10 shadow-sm">
   <div class=" flex sm:flex-row flex-col  gap-3 sm:gap-5 md:gap-10 lg:w-9/12 w-full h-full ">
     <div class="lg:w-4/12 sm:6/12 w-full bg-white    rounded-xl shadow-sm p-5">
    <h3 class="text-xl">Booking Confirmation</h3>
   <div> <h4 class="font-semibold leading-3 mt-5">Name</h4>
    <p class="text-base">{{sendername}}</p>
    </div>
   <div> <h4 class="font-semibold leading-3 mt-5">Phone</h4>
    <p class="text-base">{{senderPhonenumber}}</p>
    </div>
 
   <div> <h4 class="font-semibold leading-3 mt-5">Pickup Location
  </h4>
    <p class="text-base">{{pickupLocation}}</p>
    </div>
   <div> <h4 class="font-semibold leading-3 mt-5">Drop Off Location
  </h4>
    <p class="text-base">{{dropoffLocation}}</p>
    </div>
   <div> <h4 class="font-semibold leading-3 mt-5">Payment Method
  </h4>
    <p class="text-base">Cash On Delivery</p>
    </div>
  </div>
  <div class="lg:w-8/12 sm:6/12 w-full bg-white    rounded-xl shadow-sm p-5">
   <div > <h3 class="text-xl leading-5 pt-2">What happens next?</h3>
    <p class="text-slate-600 text-justify text-base">You'll be assigned a transporter for your job, you'll be given their details in case you need to connect them regarding your move.</p></div>
   <div > <h3 class="text-xl leading-5 pt-2">What happens on the day of my move?</h3>
    <p class="text-slate-600 text-justify text-base">The driver will contact you 30 mins before arriving at the pickup location specified (unless you've requested an earlier call)</p></div>
   <div > <h3 class="text-xl leading-5 pt-2">How do I pay the driver?</h3>
    <p class="text-slate-600 text-justify text-base">If you have paid the full amount on booking then you won't have to pay anything to the driver, if however you have only paid the initial deposit then you can pay using a secure payment link for the remaining or pay directly to the driver via cash or bank transfer.</p>
  </div>
 <div class="lg:w-full flex items-center justify-center mt-10"> <button  routerLink="/user-dashboard"  nz-button nzSize="default" nzType="primary" class="w-44 text-base rounded-md  px-2 ">GO TO DASHBOARD</button></div>
  </div></div>
    <div class="lg:w-3/12 w-full   bg-white rounded-xl shadow-sm p-5 ">
      <div class=" flex flex-col justify-between">
        <h3 class="text-xl">Summary</h3>
      <div> <h4 class="font-semibold leading-3 mt-5">Date
      </h4>
        <p class="text-base">{{date}}</p>
        </div>
      <div> <h4 class="font-semibold leading-3 mt-5">Pickup Time
      </h4>
        <p class="text-base">{{pickupTime}}</p>
        </div>
      <div> <h4 class="font-semibold leading-3 mt-5">Vehicle Type
      </h4>
        <p class="text-base">{{vehicleType}}</p>
        </div>
      <div> <h4 class="font-semibold leading-3 mt-5">Goods Type
      </h4>
        <p class="text-base">{{goodsTypes}}</p>
        </div>
      <div> <h4 class="font-semibold leading-3 mt-5">Estimated Weight
      </h4>
        <p class="text-base">{{estimatedWeight}}Ton</p>
        </div>
      <div> <h4 class="font-semibold leading-3 mt-5">Helpers
      </h4>
        <p *ngIf="!helpercount" class="text-base">No Help Required</p>
        <p *ngIf="helpercount" class="text-base">{{helpercount}}</p>
        </div>
      </div>
        <div class=" w-full flex justify-between pr-10"> <p class="text-xl font-semibold">Total </p> <p class="text-base">Rs.{{totalVechialPrice}}</p></div>
    </div>

  </div>
</div>
</div>
