
<div class=" w-full  h-[100vh] bg-[#FAFAFA]  overflow-x-hidden  pb-20">
  <div class="  md:ml-40 lg:ml-80 ml-28  text-slate-600    mt-32   flex  ">
    <div class="w-5/6 flex justify-center">
<span class="font-semibold text-4xl underline">Registered Admins </span>
    </div>


  </div>
  <div class="md:ml-40 lg:ml-80 ml-28   mr-28   mt-24"> 
   <div class="text-end mb-5"> <button class="rounded-lg" (click)="addNewUser()" nz-button nzType="primary" ><span nz-icon nzType="plus"></span>Add New Admin </button></div>
    <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed"  class="tableHeader">
      <thead >
        <tr >
          <th >#</th>
          <th nzCustomFilter>
            Name
            <nz-filter-trigger [(nzVisible)]="visibletable" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
          <th>Email</th>
          <th>Password</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let i=index">
     <td class="text-center font-bold text-base">{{i+1}}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.password }}</td>
         
         
          <td class="bg-slate-200" > <div class="flex gap-8 justify-center text-base ">
            <i class="fa-regular fa-pen-to-square text-blue-700" (click)="EditUserDetail(data._id)"></i> 
            
            <i  nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteUser(data._id)" class="fa-regular fa-trash-can text-red-700" ></i>
          </div>
      </td>
      
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box ">
          <input type="text" class="mt-1" (input)="search()" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
<div class=" flex justify-between " >
  <span class="w-1/2 bg-slate-50 hover:bg-slate-200 text-center" nzSize="small" (click)="reset()"><img class="w-3" src="../../../../../assets/imges/rotate-left-circular-arrow-interface-symbol_32418.png" alt=""></span>
  <span  class="w-1/2 bg-slate-50 hover:bg-slate-200 text-center" (click)="closeDropdown()" nzSize="small" ><i class="fa-solid fa-xmark hover:text-red" ></i></span>
</div>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
  </div>


  <!-- drawer -->
  <nz-drawer [nzSize]="size" [nzVisible]="visible" nzPlacement="right" [nzTitle]="title" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
<div class=" w-full h-full">
  <form [formGroup]="form" >
    <div class="w-full px-10 py-5">
      <div class="w-full flex flex-col gap-6 mt-5">
        <div class="w-full">
          <label for="name" class="text-slate-600">Full Name</label>
          <input type="text" nz-input formControlName="name" placeholder="Enter Full Name" />
          <div *ngIf="submitted && f['name'].errors" class="text-red-600 mt-1">
            <div *ngIf="f['name'].errors['required']">Full Name is required</div>
          </div>
        </div>
        <div class="w-full">
          <label for="email" class="text-slate-600">Email</label>
          <input type="email" nz-input formControlName="email" placeholder="Enter Email" />
          <div *ngIf="submitted && f['email'].errors" class="text-red-600 mt-1">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['pattern']">Invalid email format</div>
          </div>
        </div>
       
  
   
  
     
        <div class="w-full">
          <label for="password" class="text-slate-600">User Password</label>
         
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName="password" placeholder="Set User Login Password"
   
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
          <div *ngIf="submitted && f['password'].errors" class="text-red-600 mt-1">
            <div *ngIf="f['password'].errors['required']">User Password is required</div>
          </div>
        </div>
   
      </div>
  
      <div class="w-full text-center mt-16" *ngIf="drawertype==='add'" >
        <button (click)="submit()" nz-button nzType="primary" class="w-1/4 h-11 font-bold text-base rounded-lg">Submit</button>
      </div>
      <div class="w-full text-center mt-16" *ngIf="drawertype==='edit'">
        <button (click)="updateUserDetail()" nz-button nzType="primary" class="w-1/4 h-11 font-bold text-base rounded-lg">Update</button>
      </div>
    </div>
  </form>
  

</div>
     

    </ng-container>
</nz-drawer>