<app-header></app-header>
<div class=" bg-[#F3F7F8] pb-20">
  <div class="w-screen pt-20 pb-5 mt-20 flex justify-center items-center   ">
    <div class="w-9/12 bg-[#FFFFFF] px-24 py-4 rounded-lg shadow-sm">
      <nz-steps [nzCurrent]="2" nzSize="small">
        <nz-step nzTitle="Location"></nz-step>
        <nz-step nzTitle="Vehicle & Goods Info"></nz-step>
        <nz-step nzTitle="Price & Booking"></nz-step>
        <nz-step nzTitle="Checkout"></nz-step>
      </nz-steps>
    </div>

  </div>
  <div>
    <div class=" w-screen h-[115vh] justify-center items-center   ">

      <div class="w-9/12 h-full  flex gap-5 m-auto   ">
        <div class="w-8/12 h-full  bg-[#FFFFFF] rounded-lg shadow-sm">
          <p class=" px-5 pt-5  text-lg text-slate-700">Select Pickup Time</p>
          <div class=" flex  w-full    ">
            <div class="w-full px-5 flex flex-col ">

              <div class="w-full flex flex-col ">
                <label class="  text-slate-600 font-semibold" for="">Custom Pickup Time Between</label>
              <div class="w-full flex gap-5  ">
                
                <select class="block w-10/12 px-4 py-2 pr-10 leading-tight bg-slate-50 border border-gray-300  shadow-sm focus:outline-none focus:border-gray-500 text-left text-base rounded-lg mt-2 ">
                  <option value="">Select an option</option>
                  <option value="1">12:00 To 2:00 </option>
                  <option value="1">2:00 To 4:00 </option>
                  <option value="1">4:00 To 6:00 </option>
                  <option value="1">6:00 To 8:00 </option>
                  <option value="1">8:00 To 10:00 </option>
                  <option value="1">10:00 To 12:00 </option>
                 
                </select>
                
                <div class="flex flex-col">
                  <button 
                          class="h-7 px-6 rounded-md mb-[1px] outline-none border-0  "
                          [class.bg-slate-200]="selectedPeriod !== 'AM'"
                          [class.bg-[#44566A]]="selectedPeriod === 'AM'"
                          [class.text-white]="selectedPeriod === 'AM'"
                          [class.font-bold]="selectedPeriod === 'AM'"
                          (click)="selectPeriod('AM')">AM</button>
                  <button  
                          class="h-7 rounded-md mb-[1px] outline-none border-0 "
                          [class.bg-slate-200]="selectedPeriod !== 'PM'"
                          [class.bg-[#44566A]]="selectedPeriod === 'PM'"
                          [class.text-white]="selectedPeriod === 'PM'"
                          [class.font-bold]="selectedPeriod === 'PM'"
                          (click)="selectPeriod('PM')">PM</button>
                </div>
                
              </div>
              <hr class="bg-slate-50 mt-5">

           
              </div>
              <p class="  pt-5 text-lg text-slate-700">Enter Your Details</p>
             <div class="w-full flex  gap-7 justify-between mt-3 ">
             <div class="w-6/12">
              <label class=" font-semibold text-slate-600 " for="">Full Name</label>
              <input class="mt-3" nz-input type="text" placeholder="Full Name" nzSize="large" />
             </div>
             <div class="w-6/12">
              <label class="  text-slate-600 font-semibold" for="">Phone Number</label>
              <input class="mt-3" type="tel" nz-input placeholder="Phone Number" nzSize="large" />
             </div>
             </div>
              <p class="  pt-5 text-lg text-slate-700">Enter Receiver's Details</p>
             <div class="w-full flex  gap-7 justify-between mt-3 ">
             <div class="w-6/12">
              <label class=" font-semibold text-slate-600 " for="">Full Name</label>
              <input class="mt-3" nz-input type="text" placeholder="Receiver'sName" nzSize="large" />
             </div>
             <div class="w-6/12">
              <label class="  text-slate-600 font-semibold" for="">Phone Number</label>
              <input class="mt-3" type="tel" nz-input placeholder="Receiver's Number" nzSize="large" />
             </div>
             </div>
              


             <hr class="bg-slate-50 mt-5">
             <p class="  pt-5 text-lg text-slate-700">Location</p>
             <div class="w-full flex  gap-7 justify-between mt-3 ">
             <div class="w-6/12">
              <label class=" font-semibold text-slate-600 " for="">Sender's Address</label>
              <input class="mt-3" nz-input type="text" placeholder="Sender's Plot Number" nzSize="large" />
             </div>
             <div class="w-6/12">
              <label class="  text-slate-600 font-semibold" for="">Receiver Address</label>
              <input class="mt-3" type="tel" nz-input placeholder="Receiver's Plot Number" nzSize="large" />
             </div>
             </div>
             <p class="  pt-5 text-lg text-slate-700">Item Details</p>
             <div class="w-full flex  gap-7 justify-between mt-3 ">
             <div class="w-full">
              
              <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea rows="4" formControlName="comment" nz-input></textarea>
          </nz-textarea-count>
             </div>
            
             </div>
            </div>
            


          </div>

        </div>
        <div class="w-4/12 h-fit pb-5 bg-[#FFFFFF]  rounded-lg shadow-lg px-5">
          <div class="w-ful flex flex-col   ">
            <p class="pt-7 text-2xl text-slate-600 ">{{randomNumber}} <span class="text-slate-500 text-2xl">Rafrance ID</span> </p>
           <div class="w-full flex flex-col justify-center items-center">
            <span class="text-lg text-slate-500">Total Price</span>
            <span class="text-3xl font-semibold text-slate-700">Rs.11,646</span>
           </div>
          </div>
          <hr bg-slclass="ate-50 mt-4">
          <img  class="mt-20" src="../../../../assets/imges/12291153_Logistic workers delivering meds.svg" alt="">
        </div>
      </div>
    </div>
    <div class=" w-full flex justify-center mt-8 gap-8 ">
      <button routerLink="/vehicles-and-goods-info" nz-button nzSize="default" nzType="primary"
        class="w-32 text-base rounded-md bg-[#CCCCCC] border-0 hover:bg-[#a4a3a3]">Back</button>
      <button  routerLink="/booking"  nz-button nzSize="default" nzType="primary" class="w-32 text-base rounded-md ">Book Now</button>
    </div>
  </div>
</div>
<app-footer></app-footer>