<app-header></app-header>
<div class="flex w-screen h-screen  flex-wrap justify-evenly items-center pt-16">
  <div class="w-4/12 h-full">
    <h1 class="text-5xl text-slate-700 font-bold">About <span class="text-slate-500">US</span></h1>
    <p class="text-justify flex flex-col pt-10  flex-wrap"><span>After seeing the alarmingly high number of vehicles returning from journeys empty and the increasing threat of climate change. Accepting the challenges of transportation industry, ECS was established to reduce dead milage on the road to save energy, time and climate.</span>
<br>
      <span>Using cutting edge technology ECS provides you with the most competitive prices on the market by connecting you with transporters across the country ensuring no empty vehicles runs on the road. This in turn reduces the harmful CO2 emissions and minimising the cost of businesses on deliveries and maximises the transporter’s profit.</span>
      <br>
     <span> All you need to do is book and sit back & relax, we connect you with a transporter who then arrives at your selected time & day to complete your job. We also make things even more simple by providing you with insurance of your items and secure payment process.</span>
      <br>
    <span>  ECS believes that customer service is the cornerstone to any business - with that in mind you have access to customer support 7 days a week via phone, email & chat</span>.</p>
  </div>
  <div class="w-4/12 h-full pt-48"> <img  class="w-full " src="../../../assets/imges/red-delivery-car-deliver-express-with-cardboard-boxes-cartoon-shipping-transportation-concept-white-website-banner-background-3d-rendering-removebg.png" alt=""> </div>
</div>
<div class="w-screen h-80   flex justify-center items-center  flex-col  ">
  <div class=" flex w-4/6  px-5"> <i class="fa-solid fa-quote-left text-3xl  text-slate-500 mr-3"></i><p class="text-base text-justify pt-4">ECS was founded to help combat a problem which affects us all, with our cutting edge technology based systems we offer the most competitive prices while reducing the CO2 emissions across the country. Our booking system gets you a price within seconds - book a convenient time & day for you. The choice is all yours!</p></div>
  <div class="w-4/6 px-5">
    <div class="w-40 flex justify-center items-center gap-1 ">
      <p class="w-8 bg-slate-500 h-[2px]"></p>
      <p class="text-base text-slate-500">ECS</p>
      <p class="w-8 bg-slate-500 h-[2px]"></p>
    </div>
  </div>

</div>
<app-footer></app-footer>