<div class="w-full h-fit bg-[#FAFAFA] pt-32 overflow-x-hidden pb-20 pl-10">

  <div class="w-full  flex flex-col items-center justify-center ml-10 mb-12   ">

    <div class="w-8/12 h-fit">
      <h1 class=" text-3xl  mb-10 font-semibold">Edit Profile</h1>
      <div class="w-full   shadow-md rounded-md bg-white  h-full ">
        <div class="w-full h-16 bg-white  pt-5   px-7 " style="border-bottom: 1px solid  rgb(196, 196, 196);">
          <h3 class="text-slate-700"> <i class="fa fa-user-circle-o text-slate-500" aria-hidden="true"></i>

            My Account </h3>
        </div>
        <form [formGroup]="form1" (ngSubmit)="submitForm1()" class="pb-5">
          <div class="w-full px-10 py-5 flex gap-5">
          
            <div class=" w-1/2 flex lg:flex-row flex-col gap-6 mt-5">
              <div class="w-full">
                <label for="name" class="text-slate-600">Full Name</label>
                <nz-input-group nzSearch nzSize="large" class="mt-2">
                  <input type="text" nz-input formControlName="name" placeholder="Enter Full Name" />
                </nz-input-group>
              </div>
              
            </div>
            <div class=" w-1/2 flex lg:flex-row flex-col gap-6 mt-5">
              <div class="w-full">
                <label for="email" class="text-slate-600">Email</label>
                <nz-input-group nzSearch nzSize="large" class="mt-2">
                  <input type="email" nz-input formControlName="email" placeholder="Enter Email" />
                </nz-input-group>
              </div>
          
            </div>
            
          </div>
         <div class="mb-5 ml-10">
          <button nz-button nzType="primary" class="mt-7 rounded-lg">UPDATE</button>
         </div>
        </form>
        
      </div>
    </div>
  </div>
  <div class="w-full  flex flex-col items-center justify-center ml-10   ">

    <div class="w-8/12 h-fit">
        <form [formGroup]="form2" (ngSubmit)="submitForm2()">
        <div class="w-full shadow-md rounded-md bg-white h-full">
          <div class="w-full h-16 bg-white pt-5 px-7" style="border-bottom: 1px solid rgb(196, 196, 196);">
            <h3 class="text-slate-700">
              <i class="fa fa-lock text-slate-500" aria-hidden="true"></i>
              Password & Security
            </h3>
          </div>
          <div class="w-full px-10 py-5">
            <div class="w-full flex lg:flex-row flex-col gap-5">
              <div class="lg:w-1/3 w-full">
                <label for="currentPassword" class="text-slate-600">Current Password</label>
                <nz-input-group nzSearch nzSize="large" class="mt-2">
                  <input type="text" nz-input formControlName="currentPassword" placeholder="Enter Password" />
                </nz-input-group>
              </div>
              <div class="lg:w-1/3 w-full">
                <label for="newPassword" class="text-slate-600">New Password</label>
                <nz-input-group nzSearch nzSize="large" class="mt-2">
                  <input type="text" nz-input formControlName="newPassword" placeholder="Enter New Number" />
                </nz-input-group>
              </div>
              <div class="lg:w-1/3 w-full">
                <label for="repeatNewPassword" class="text-slate-600">Repeat New Password</label>
                <nz-input-group nzSearch nzSize="large" class="mt-2">
                  <input type="text" nz-input formControlName="repeatNewPassword" placeholder="Enter New Number Again" />
                </nz-input-group>
              </div>
            </div>
            <button nz-button nzType="primary" class="mt-7 rounded-lg">UPDATE PASSWORD</button>
          </div>
        </div>
      </form>
      </div>
    
  </div>
  </div>