<div class="w-full h-fit bg-[#FAFAFA] pt-32 pb-40 overflow-x-hidden">
    <h1 class=" text-3xl  mb-16 md:ml-40 lg:ml-72 ml-28  font-semibold">Booked Jobs</h1>
    <div class="w-full  flex ml-10 justify-center mt-10  ">
        <div class="w-8/12  shadow-md rounded-md bg-white  h-fit  pb-10 ">
    <div class="w-full h-fit bg-white  pt-5 px-5 " style="border-bottom: 1px solid  rgb(196, 196, 196);"><h3> <img class="w-6  mb-1 text-slate-400" src="../../../../../assets/imges/package.svg"> Booked Jobs</h3></div>
    <div class="w-full h-fit   flex md:flex-row flex-col justify-between items-center pr-5">
        <div class="md:w-6/12 w-full h-full flex flex-col pl-10 pt-5 gap-1"> <span class="font-bold">Hyundai Shehzore</span>
        <span><i class="fa fa-map-marker text-orange-400 mr-2" aria-hidden="true"></i>Faisalabad Pakistan
        </span>
        <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Lahore Pakistan
        </span>
        <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>
           Delivery Date: 11-Mar-2024
        </span>
        <span><i class="fa fa-money mr-1" aria-hidden="true"></i>
    
        Cash On Delivery
        </span>
       
    
        </div>
       <div class="md:w-6/12 w-full flex md:justify-end items-center md:ml-0 ml-20 mt-5 md:mt-0"> <div class="flex flex-col md:w-28 w-20 h-14 md:h-20 bg-[#f1ede4b0]   rounded-sm shadow-md justify-center items-center">
        <span class="text-slate-600">Rs. 11,229</span>
    <span class="text-slate-400">Job Price</span>
    </div></div>
    </div>
    <button  routerLink="/dashboard"  nz-button nzSize="default" nzType="primary" class="w-36 h-8  ml-10 mt-6 px-2 text-base rounded-md cursor-pointer  "> CANCEL JOB <i class="fa fa-times text-white ml-2" aria-hidden="true"></i>
    </button>
        </div>
    </div>
</div>