<div class="w-full h-fit bg-slate-200  flex justify-center items-center  pb-20 pt-20">
  <div class="w-9/12 lg:h-[80vh] h-[100vh] bg-white shadow-xl rounded-lg pl-5 pt-7">
<h1 class="text-slate-500 font-semibold">Job Summery</h1>
<ng-container *ngFor="let item of jobArray" >
  <div class="w-full lg:h-[80vh] h-[120vh] flex  lg:flex-row flex-col  gap-16  pt-5 ">
  <div class="lg:w-8/12 h-fit w-full gap-16 flex ">
    <div class="w-6/12   ">
      <div >
        <h4 class="text-slate-700 text-base font-semibold">Pickup Location</h4>
        <p class="text-slate-500">{{item.pickupLocation}}</p>
      </div>
      <div >
        <h4 class="text-slate-700 text-base font-semibold">DropOff Location</h4>
        <p class="text-slate-500">{{item.dropoffLocation}}</p>
      </div>
      <div >
        <h4 class="text-slate-700 text-base font-semibold">Pickup Time</h4>
        <p class="text-slate-500">{{item.pickupTime}}</p>
      </div>
      <div >
        <h4 class="text-slate-700 text-base font-semibold">Job Booked Time</h4>
        <p class="text-slate-500">{{item.JobBookedTime}}</p>
      </div>
      
      
          </div>
          
          <div class="w-6/12">
            <div >
              <h4 class="text-slate-700 text-base font-semibold">Vehicle</h4>
              <p class="text-slate-500">{{item.SelectedVehicle}}</p>
            </div>
            <div >
              <h4 class="text-slate-700 text-base font-semibold">Price</h4>
              <p class="text-slate-500">{{item.totalVechialPrice}}</p>
            </div>
            <div >
              <h4 class="text-slate-700 text-base font-semibold">Distance</h4>
              <p class="text-slate-500">{{item.distance}}</p>
            </div>
            <div >
              <h4 class="text-slate-700 text-base font-semibold">Helper</h4>
              <p class="text-slate-500">{{item.selectedHelper}}</p>
            </div>
            <div >
              <h4 class="text-slate-700 text-base font-semibold">Delivery Date</h4>
              <p class="text-slate-500">{{item.date}}</p>
            </div>
          </div>
  </div>
    <div class="lg:w-4/12  w-full " >
      <div >
        <h4 class="text-slate-700 text-base font-semibold">GoodsType</h4>
        <p class="text-slate-500">{{item.selectedGoodsType}}</p>
      </div>
      <div >
        <h4 class="text-slate-700 text-base font-semibold">Weight</h4>
        <p class="text-slate-500">{{item.estimatedWeight}}</p>
      </div>
      <div >
        <h4 class="text-slate-700 text-base font-semibold">Goods Details</h4>
        <p class="text-slate-500">{{item.itemDetails}}</p>
      </div>
      <div >
        <h4 class="text-slate-700 text-base font-semibold">Job Booked Date</h4>
        <p class="text-slate-500">{{item.JobBookedDate}}</p>
      </div>
      <div class=" w-full flex justify-center gap-8  mt-32 ">
        <button routerLink="/jobs" nz-button nzSize="default" nzType="primary"
          class="w-32 text-base rounded-md bg-[#CCCCCC] border-0 hover:bg-[#a4a3a3]">Back</button>
        <button  type="submit"  nz-button nzSize="default" nzType="primary" class="w-32 text-base rounded-md  " >Accept</button>
      </div>
    </div>
  </div>
  </ng-container>


</div>